body {
    padding-top: 4.5rem;
}

.listing {
    margin: 30px auto;
}

.listing:hover {
    box-shadow: 0 0 0 1px grey;
}

.listing:hover > h5 {
    color: blue;
    font-weight: bold;
}

.listinganchor {
    color: inherit;
}

.listinganchor:hover {
    text-decoration: none;
    color: inherit;
}

.rightcontainer {
    float: right;
}

.regularMap {
    background-color: grey;
    width: 400px;
    height: 400px;
}

.fullMap {
    position: fixed !important;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.modal-lg {
    width: 80%;
    height: 50%;
}

.lightbordered {
    border: 2px grey solid;
}

.lightbordered + .lightbordered {
    border-left: 0px;
}

.lightbordered:focus {
    background-color: green;
}

.cursorlink {
    cursor: pointer;
}

.userlink + .userlink {
    margin-left: 1em;
}

#displayImage {
    width: 400px;
    height: 400px;
    background-color: black;
}

#moreButton {
    width: 40%;
    height: 100px;
    /* margin: 10px auto !important; */
}

#profilePicture {
    width: 10%;
    height: 10%;
}

#fixedrightbuttons {
    position: fixed;
    right: 60px;
    top: 10px;
}

#mapShowMoreButton {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
}